<script src="https://cdn.rawgit.com/tizzle/aframe-orbit-controls-component/v0.1.14/dist/aframe-orbit-controls-component.min.js"></script>


<a-scene embedded id="main-scene">
  <a-camera></a-camera>
  <a-assets>
    <a-asset-item id="tree-obj" src="assets/geometry/ATLASR2/pixel.obj"></a-asset-item>
  </a-assets>

  <a-entity
    id="camera"
    camera="fov: 80; zoom: 1;"
    position="0 2 5"
    orbit-controls="
              autoRotate: false;
              target: #target;
              enableDamping: true;
              dampingFactor: 0.125;
              rotateSpeed:0.25;
              minDistance:3;
              maxDistance:100;
              "
    mouse-cursor="">
    <a-entity geometry="primitive:cone; radius-bottom:1; radius-top:0" scale=".33 1 .33" position="0 0 0" rotation="90 0 0" material="color: #0099ff; transparent: true; opacity:0.5"></a-entity>
  </a-entity>

  <a-entity id="target">
    <a-entity obj-model="obj: #tree-obj" scale="0.1 0.1 0.1"></a-entity>
    <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E" ></a-sphere>
    <a-sky color="#333333"></a-sky>
  </a-entity>
</a-scene>
